<div  id="navigation_bar">
    <ul>
        
        <li>
            <a routerLink='/home' routerLinkActive= "activo" [routerLinkActiveOptions]="{exact:true}">Inicio</a><br>
        </li>

        <li>
            <a routerLink='/navegacion' routerLinkActive= "activo" [routerLinkActiveOptions]="{exact:true}">Navegacion</a><br>
        </li>

        <li>
            <a routerLink='/databinding' routerLinkActive= "activo" [routerLinkActiveOptions]="{exact:true}">DataBinding</a><br>
        </li>

        <li>
            <a routerLink='/componentePadreHijo' routerLinkActive= "activo" [routerLinkActiveOptions]="{exact:true}">Componentes Padres e hijos</a><br>  
        </li>

        <li>    
            <a routerLink='/practicaRealizada' routerLinkActive= "activo" [routerLinkActiveOptions]="{exact:true}">Practica Realizada</a><br>
        </li>

        <li>
            <a routerLink='/dificultadesTarea' routerLinkActive= "activo" [routerLinkActiveOptions]="{exact:true}">Dificultades con la tarea</a><br>
        </li>
        
    </ul>
</div>