<div class = "content">
    <h1>
        Dificultades con la tarea
    </h1>

    <ol>
        <li>
            Como herramienta totalmente nueva para mi, aun se me complica un poco ubicarme entre tantos directorios<br>
            pero bueno, estas tareas son para eso mismo.
        </li>
        <li>
            El temor de crear o incluir algo donde no es y que se pierda todo lo avanzado, no me ha pasado, pero supongo podria pasar
        </li>
        <li>
            Aplicacion de ciertas cosas ya en caliente
        </li>
    </ol>
</div>
