<div class="content">
    <h1>
        Databinding
    </h1>
    <h2>
        ¿Qué es databinding?
    </h2>
    <p>
        Es la forma que tiene Angular para permitirnos mostrar contenido dinámico en lugar de estático (en inglés, hardcoded). <br>
        Podríamos traducir el databinding como "comunicación" entre nuestro código HTML (archivo .html) y nuestra lógica de programación (archivo .ts).
    </p>
    <h2>
        Maneras de comunicación entre archivos
    </h2>
    <ul>
        <li>
            Mostrar información en el HTML (también conocido como template) desde el archivo .ts.
        </li>
        <li>
            Pasar información al archivo TypeScript (en adelante, TS) dada por el usuario al hacer click en un botón, 
            por ejemplo. Es lo que se conoce como ''reaccionar a eventos del usuario''.
        </li>
        <li>
            Combinar al mismo tiempo ambas formas de intercambio de información.
        </li>
    </ul>
    <h2>
        Tipos de databinding
    </h2>
    <ul>
        <li>Interpolación o interpolación de cadenas</li>
        <li>Vinculación de propiedad</li>
        <li>Enlace de eventos</li>
    </ul>

    <h2>
        Comunicación
    </h2>
    <img src="assets/databinding.jpg" alt="ComunicaciónDatabinding">
</div>