<div class = "content">
    <h1>Practica realizada</h1>

    <ol>
        <li>
            <h2>
                Creacion de proyecto
            </h2>
            <ul>
                <li>
                     Se procedio con la creacion respectiva del proyecto llamado: TareaModulo3y4.
                </li>
                <li>
                     Se dio por aceptado el hecho de que se creen los archivos de routing.
                </li>
            </ul>
        </li>
        <li>
            <h2>
                Creacion de menu
            </h2>
            <ul>
                <li>
                    Se procedio a crear el menu de forma manual con tags de HTML5 y CSS
                </li>
            </ul>
        </li>
        <li>
            <h2>
                Creacion de componentes
            </h2>
            <ul>
                <li>
                    Se procedio a crear cada componente para ser utilizado en cada una de las opciones
                    <h3>
                        Detalle de los menus
                    </h3>
                    <ul>
                        <li>
                            Inicio: Datos del desarrollador
                        </li>
                        <li>
                            Navegacion: Breve introduccion a conceto y pasos para Routing.
                        </li>
                        <li>
                            Databinding: Breve introduccion y tipos de databinding.
                        </li>
                        <li>
                            Componentes padre e hijo: Como identificar el uno del otro.
                        </li>
                        <li>
                            Practica realizada: Breve detalle de lo realizadoo en la practica.
                        </li>
                        <li>
                            Dificultades con la tarea: Breve detalle de lo complicado dentro de la tarea realizada.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ol>
</div>