<div class = "content">
    <h1>
        Componentes: Diferencias entre Padre e Hijo
    </h1>

    <p>
        La manera de identificar el componente <span>padre</span> del <span>hijo</span> es a traves de la etiqueta <span>@Input</span><br>
        se pone en el componente hijo para indicar que esa variable proviene desde fuera del componente, es decir desde el componente <br>
        padre usamos el selector del hijo para incluirlo en el html y le pasamos el valor que queremos pasar al hijo:
    </p>
    <h2>Sintaxis componente Hijo</h2><br>
    <img src="assets/child.jpg" alt=ChildComponent><br><br>
    <h2>Sintaxis componente Padre</h2><br>
    <img src="assets/father.jpg" alt=FatherComponent>
</div>